* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #FFF;
}

@media only screen and (max-width: 600px) {
  .revealer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #FFF;
  }

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .loader-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
  }

  .loader-text {
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .5em;
  }

  .back-to-main-btn {
    position: relative;
    bottom: 0;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    transform: translate(-50%, 0);
    letter-spacing: 4px;
    font-size: 1em;
  }




  /* Main landing page */
  .landing-page-container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100px;
    z-index: 9999;
    text-transform: uppercase;
    background-color: #000;
  }

  .site-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1em;
    height: 100%;
  }
  
  .floating-image-container {
    position: absolute;
    top: 120vh;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    width: 300vw;
    animation: bounce 5s infinite ease-in-out;
    animation-delay: 5s;
    z-index: -1;
}

  @keyframes bounce {
    0% {
        top: 35vh;
    }

    50% {
        top: 40vh;
    }

    100% {
        top: 35vh;
    }
  }

  .title {
    margin-top: 100px;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
  }

  .title .letter {
    display: inline-block;
  }

  .cat-img img {
    width: 100%;
  }

  .info {
    position: absolute;
    bottom: 4em;
    width: 100vw;
    padding: 0 20px;
    letter-spacing: 1.5px;
    line-height: 1.5em;
    color: #999;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .marquee {
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    display: flex;
    font-weight: 600;
    font-size: 1.5em;
    animation: marquee-animation 10s linear infinite;
    animation-delay: 3s;
  }

  @keyframes marquee-animation {
    0% {
        transform: translate(90%, 0);
    }
  
    100% {
        transform: translate(-100%, 0);
    }
  }
  /*  */




  /* Landing page for projects */
  .project-list-wrapper {
    margin-top: 100px;
    width: 100vw;
    padding: 0 20px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: .5em;
  }
  
  .project-container {
    background-color: #111;
    padding: 4em;
    margin: .25em;
    text-align: center;
    font-weight: 600;
    letter-spacing: .5em;
  }

  .project-list-wrapper .project-container a img {
    position: absolute;
    border-radius: 50%;
    opacity: 50%;
    top: 0;
    left: 50%;
    transform: scale(.8);
    width: 50%;
    height: 100%;
    object-fit: fill;
  }
  /*  */




  /* Landing page for project */
  .container {
    margin-top: 100px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
  }

  #scroll-arrow {
    font-size: 100px;
    position: absolute;
    left: 50%;
    transform: rotate(90deg);
  }

  .cols {
    padding: 0 20px;
  }

  .col-left {
    display: flex;
    flex-direction: column;
  }

  .img-wrapper {
    padding-bottom: 60px;
  }

  .img-wrapper img {
    border: 1px solid #333;
    width: 100%;
    height: auto;
  }

  .col-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.25em;
    line-height: 2em;
    letter-spacing: 2px;
    padding-bottom: 40px;
  }
  
  .col-right .link-stack-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .col-right .link-stack-wrapper .stack-wrapper {
    display: flex;
    text-align: left;
    flex-direction: column;
  }
  
  .col-right .link-wrapper {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
  }

  .col-right .link-wrapper a img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin-top: -5px;
  }
  /*  */




  /* Landing page for contact */
  .contact-page-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  } 

  .tally-form-wrapper {
    position: relative;
    top: 100px;
  } 

  .self-introduction-wrapper {
    margin-top: 150px;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
  }
  /*  */
}